*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html,
body {
    height: 100%;
}

button {
    font: inherit
}

:root {
    --domminant-color: hsl(257, 40%, 49%);
    --complementary-color: hsl(300, 69%, 71%);
    --accent-color: white;

    --headings-font: "Poppins";
    --body-font: "Open Sans";

    font-family: var(--body-font), sans-serif;
    color: var(--accent-color);
    font-size: 15px;
}

body {
    background: var(--domminant-color) url("images/bg-mobile.svg") no-repeat top / 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-content: center;
    padding: 3rem;
    padding-bottom: 1rem;
}

header,
main {
    min-width: 340px;
    max-width: 1440px;
}

header,
figure,
main {
    margin-bottom: 4.2rem;
}

.header__logo {
    height: clamp(40px, 5vw, 60px);
}

main {
    text-align: center;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__header {
    font-family: var(--headings-font);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.content__describe {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

button {
    color: var(--domminant-color);
    font-family: var(--headings-font);
    font-size: .9rem;
    padding: 13px;
    border: 0;
    border-radius: 3rem;
    width: 250px;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.801);
}

button:hover {
    background-color: var(--complementary-color);
    color: var(--accent-color);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials__logo {
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
    filter: invert(100%) ;
}

.socials__logo:hover {
    cursor: pointer;
    filter: invert(71%) sepia(24%) saturate(2169%) hue-rotate(233deg) brightness(96%) contrast(88%);
}

@media (width > 1050px) {
    body {
        background: var(--domminant-color) url("images/bg-desktop.svg") no-repeat;
        background-size: cover;
        padding: 4rem;
    }

    header {
        margin-bottom: 6rem;
    }

    figure {
        margin: 0;
    }

    main {
        display: flex;
        gap: 4rem;
        text-align: left;
    }

    figure {
        min-width: 50%;
    }

    figure > img {
        width: 100%;
    }

    .content__header {
        font-size: 3em;
    }

    .content__describe,
    #register {
        font-size: 1.4rem;
    }

    .socials {
        justify-content: end;
    }
}




