*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html,
body {
    height: 100%;
}

button {
    font: inherit
}

:root {
    --domminant-color: hsl(257, 40%, 49%);
    --complementary-color: hsl(300, 69%, 71%);

    --headings-font: "Poppins";
    --body-font: "Open Sans";

    font-family: var(--body-font), sans-serif;
}

body {
    background: var(--domminant-color) url("images/bg-mobile.svg") no-repeat top / 100%;
    display: grid;
    justify-content: center;
    text-align: center;
}

header,
main {
    min-width: 340px;
    max-width: 1440px;
    margin: 2rem;
}

